.cover { 
  position:fixed; 
  top:0; 
  left:0; 
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8); 
  z-index:5; 
  width:100%; 
  height:100%; 
}

.modal {
  position: absolute;
  background: #FFF;
  min-width: 200px;
  width: 70%;
  z-index: 6;
  border-radius: 4px;
  display: block;
  padding: 20px;
  top: 10%;

  // Center horizontally
  left:50%;
  transform: translateX(-50%);
}