h1, h2, h3, h4, h5, h6 {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: bold;
}

span {
  font-family: "freight-sans-pro", sans-serif;    
}  

p {
  font-family: "freight-text-pro", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}